.filter-button {
    height: 100% !important;
    padding: 0.25rem !important;
    &_icon {
        height: 1.75rem;
        transition: all .15s ease-in-out;
    }

    &:hover {
        .filter-button_icon {
            filter: brightness(1000%);
        }
    }
}